@page "/MyPortfolios"

@using PortfolioTracker.Pages.PortfolioViews
@inject DialogService dialogService

<div class="row">
    <div class="col-md-12">
        <RadzenButton Text="Create New Portfolio" ButtonStyle="ButtonStyle.Light" Click="@(args => dialogService.Open<CreatePortfolioView>("Create A New Portfolio", null, new DialogOptions() { Width = "600px", Height="200px"}))" />
    </div>
</div>

@code {

    void CreateNewPortfolio()
    {

    }
}
